<ul class="card-icons">
  <li>
    <%= image_tag("master_card.svg") %>
  </li>
  <li>
    <%= image_tag("visa.svg") %>
  </li>
  <li>
    <%= image_tag("maestro.svg") %>
  </li>
  <li>
    <%= image_tag("american_express.svg") %>
  </li>
  <li>
    <%= image_tag("discover.svg") %>
  </li>
</ul>